
body,
html {
  width: 100%;
  height: 100%;
  font-family: Roboto;
}

.black-box {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 65%;
}

hr {
  max-width: 65px;
  border-width: 4px;
  border-color: #F05F44; 
}

h1 {
	color: white;
	text-shadow: 1px 1px black;
}


header.startup {
  background-position: center;
  background-image: url("korea-wallpaper-2.jpg");
  background-size: cover;
  height: 100%;
  opacity: 0.9;
}

header.startup hr {
  margin-top: 50px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}


.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
	background-color: #FF7605;
	border-color: #FF7605;
}

.btn-primary:hover {
	background-color: #FF953E;
	border-color: #FF953E;
	border-width: 5px;
    cursor: pointer;
}


